<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body class="bg-dark">

        <div class="container col-12 my-5 py-4 px-4 bg-dark text-white">
            <table class="col-12 table-dark table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th class="col-auto px-5"><span class="fs-3">ID</span></th>
                        <th class="col-auto px-5"><span class="fs-3">Full Name</span></th>
                        <th class="col-auto px-5"><span class="fs-3">Email</span></th>
                        <th class="col-auto px-5"><span class="fs-3">Created At</span></th>
                        <th class="col-auto px-5"><span class="fs-3">Actions</span></th>
                    </tr>
                </thead>

                <tbody>

                    {% for user in users %}
                        <tr>
                            <td><span class="fs-4">{{ user['id'] }}</span></td>
                            <td><span class="fs-4">{{ user['first_name'] +" "+ user['last_name'] }}</span></td>
                            <td><span class="fs-4">{{ user['email'] }}</span></td>
                            <td><span class="fs-4">{{ user['created_at'] }}</span></td>
                            <td>
                                <a class="fs-5" href="/users/{{user['id']}}">Show</a>
                                <a class="fs-5" href="/users/{{user['id']}}/edit">Edit</a>
                                <a class="fs-5" href="/users/{{user['id']}}/destroy">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}


                </tbody>

            </table>

            <div class="d-flex row my-5 text-center"><a class="fs-4" href="/">Add a new user</a></div>

        </div>
    </body>
</html>



